@import 
url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,400;0,500;0,700;1,200&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;600;700;900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-size: 100%;
}

body {
    background-color: #5B8C5A;
    margin-bottom: 30px;
}


.top-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 8em;

}
h1 {
    font-family: 'bitter', serif;
    color: white;
    font-weight: 400;
    font-size: 64px;
    /* margin-top: 5rem; */
    margin-left: 5rem;
}


.nav {
    display: flex;
    background-color: #984447;
    border-radius: 15px;
}

li {
    margin: 25px;
    list-style-type: none;
    font-size: 1.5em;
    color: white;

}

.title {
    display: flex;
    font-family: 'fira sans', sans-serif;
    font-size: 36px;
    color: white;
    margin-top: 42px;
    margin-left: 15%;
}



.line {
    margin-left: 10%;
    width: 80%;
    border-top: 2px solid black;
    margin-top: 1rem;
}

.line#bitter_line {
    margin-top: 10em;
}

.info {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 25px;
}

.info2 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 25px;
}

.logo_large {
    height: 522px;
    width: 522px;
}

br {
    margin-bottom: 1em;
}

div.paragraph {
    width: 678px;
    height: 411px;
    text-align: center;
    font-size: 30px;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 300;
    color: white;
}

.title#title2 {
    display: flex;
    gap: 40%;
}

.alt_logo {
    display: flex;
    justify-content: space-evenly;
    gap: 47px;
}

.wordmark {
    font-family: 'bitter', serif;
    font-weight: bold;
}

.black_a {
    font-size: 96px;
}

.white_a {
    font-size: 96px;
    color: white;
}

.palette{
    display: flex;
    gap: 39px;
    margin-top: 25px;
    justify-content: center;
    flex-wrap: wrap;
}

.samp {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 154px;
    height: 154px;
    border: 1px solid black;
    font-family: 'fira sans', san-serif;
    text-align: center;
}

.samp#black_p {
    background-color: black;
    color: white;
}
.samp#white_p {
    background-color: #ffff;
    color: black;
}
.samp#red_p {
    background-color: #984447;
    color: white;
}
.samp#yellow_p {
    background-color: #cfd186;
    color: black;
}
.samp#ebony_p {
    background-color: #596157;
    color: white;
}
.samp#olive_p {
    background-color: #95AF70;
    color: white;
}
.samp#green_p {
    background-color: #5B8C5A;
    color: white;
}

.paragraph_cont {
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.paragraph#firasans {
    height: 200px;
}

.typeface_cont {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.bitter_cont {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 20em;
}



.typefaces {
    width: 728px;
    height: 900px;
    background-color: #984447;
    border-radius: 25px;
    margin-top: 10px;
    /* margin: 25px; */
}

.textsize {
    width: 728px;
    height: 872px;
    background-color: #984447;
    border-radius: 25px;
    margin-top: 10px;
    /* margin: 25px; */
}

.title_name#type_title {
    font-size: 24px;
}

.title_name#bold_type {
    font-weight: bold;
}

.title_name#bolder_type {
    font-weight: 900;
}

.title_name#semibold_type {
    font-weight: 600;
}

.bitter {
    font-family: 'bitter', sans-serif;
}

.head_cont {
    display: flex;
    align-items: center;
}

.title#h1 {
    font-weight: 300;
    flex-direction: column;
}

.title#sample_h1 {
    font-weight: bold;
    font-size: 48px;
}
.title#sample_h2 {
    font-weight: bold;
    font-size: 40px;
}
.title#sample_h3 {
    font-weight: bold;
    font-size: 32px;
}
.title#sample_h4 {
    font-weight: bold;
    font-size: 24px;
}
.title#sample_h5 {
    font-weight: bold;
    font-size: 20px;
}
.title#sample_h6 {
    font-weight: bold;
    font-size: 16px;
}

.textsize#bitter {
    font-family: 'bitter', serif;
}